div#about.about-us
  header.about-us-content
    h1.about-us-content__title Sobre a empresa
    p.about-us-content__text Somos uma empresa brasileira, de atuação global, e referência no Brasil pelo modelo de atendimento ao mercado, que assegura credibilidade, gama de produtos, velocidade na entrega, preço compatível e serviços técnicos agregados.

div.about-us-details
  article.about-us-card
    img.about-us-card__icon(src="images/icon-dist.png" alt="Distribuição")
    h2.about-us-card__title Distribuição
    p.about-us-card__text Somos distribuidores de produtos mecatrônicos para automatização de máquinas e equipamentos.
  article.about-us-card
    img.about-us-card__icon(src="images/icon-pres.png" alt="Presença por região")
    h2.about-us-card__title Presença por região
    p.about-us-card__text Temos presença forte na indústria do Sudeste e Sul do país onde atendemos a mais de 50 segmentos.
  article.about-us-card
    img.about-us-card__icon(src="images/icon-post.png" alt=("Portfolio"))
    h2.about-us-card__title Portfolio
    p.about-us-card__text Nosso portfolio tem mais de 400 produtos, agarupados em seis linhas.
  article.about-us-card.about-us-card--last
    h2.about-us-card__title Marcas
    p.about-us-card__text Também somos distribuidor exclusivo das seguintes marcas no <strong>Brasil</strong> e na <strong>América Latina</strong>:
    div.about-us-card__brands
      img.about-us-card__brands--item(src="http://placehold.it/134x34" alt="Distribuidor exclusivo")
      img.about-us-card__brands--item(src="http://placehold.it/75x34" alt="Distribuidor exclusivo")
      img.about-us-card__brands--item(src="http://placehold.it/75x34" alt="Distribuidor exclusivo")
      img.about-us-card__brands--item(src="http://placehold.it/96x34" alt="Distribuidor exclusivo")
      img.about-us-card__brands--item(src="http://placehold.it/134x34" alt="Distribuidor exclusivo")
