section.apply
      h1 Candidate-se agora!
      div.apply-content
        div.apply-details
          img(src="images/resume.png" alt="O que deve conter em seu currículo?")
          p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem.
          p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Nam liber tempor cum soluta nobis eleifend option congue.
          img(src="images/arrow.png" alt="Indicação ao campo de envio do currículo")
