footer.footer-content
	section.volts-footer
		div.volts-address
			img(src="")
			p Rua Otto Benack, 300 - Sala 2 Bom Retiro - Joinville / SC
		div.volts-telephone
			img(src="")
			p Entre em contato: <span>(47) 3043-4082</span>
		div.volts-social
			p Acompanhe-nos:
			ul
				li facebook
				li twitter
				li linkedin
				li google plus
				li youtube
	section.volts-devs
		p Desenvolvido por
		img(src="")
