div.jobs
    header.wrap-open-jobs
      div.open-jobs
        img.open-jobs__title(src="images/wrap-jobs.png" alt="Vagas em aberto")
        p.open-jobs__text Somos uma empresa brasileira, de atuação global, e referência no Brasil pelo modelo de atendimento ao mercado, que assegura credibilidade, gama de produtos, velocidade na entrega, preço compatível e serviços técnicos agregados.

    div.wrap-list-jobs
      div.list-jobs
        - for (var i = 0; i < 3; i++ )
          div.jobs-details
            div.jobs-details-date
              span.jobs-details-date__daymouth 13.03
              p.jobs-details-date__year 2014
            article.jobs-details-card
              div.thumbnail-card
                img.thumbnail-card__thumb(src="images/thumbnail-job.jpg" alt="Miniatura da vaga")
                a.thumbnail-card__button.btn.btn-thumb(href="#") +
              div.details-card
                h2.details-card__title Matrix Media
                h3.details-card__job Visual/UI Designer
                p.details-card__description Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                a.btn.btn-jobs(href="#") Candidate-se agora
