nav.menu
    img(src="images/logo.png" alt="Volts logo")
    ul.menu-list.hidden
      li.menu-list__item.menu-list__item--first
        a(href="#") Sobre a empresa
      li.menu-list__item
        a(href="#") Vagas em aberto
      li.menu-list__item
        a(href="#") Candidate-se
      li.menu-list__item.menu-list__item--last
        a(href="#") Ir para o site
