.header-menu
  nav.menu
    img(src="images/logo.png" alt="Volts logo")
    ul.menu-list.hidden
      li.menu-list__item.menu-list__item--first
        a(href="#about") Sobre a empresa
      li.menu-list__item
        a(href="#jobs") Vagas em aberto
      li.menu-list__item
        a(href="#apply") Candidate-se
      li.menu-list__item.menu-list__item--last
        a(href="http://voltsdigital.com.br" target="_blank") Ir para o site
