@import 'rupture'

.header-menu
	position relative
	width 100%
	background-color white-volts
	height 90px
	transition 500ms ease

.menu
	@extends .wrap-content
	position relative
	height 100%
	display flex
	flex-flow row wrap
	justify-content space-between
	align-items center
	padding 0 10px
	+below(breakpoint-menu)
		overflow hidden
	&::before
		content (' ')
		position absolute
		top 0
		left 0
		width 100%
		height 5px
		background-color yellow-volts
		border-radius 0 0 15px 15px

.menu-fixed
	position fixed
	height 65px
	margin 0 auto
	transition 500ms ease
	z-index 99999
	+below(breakpoint-menu)
		height 90px

.menu-list
	position relative
	list-style none
	display flex
	flex-flow row nowrap
	justify-content space-between
	align-items center
	padding 0
	+below(breakpoint-menu)
		position fixed
		top 0
		right 0
		width 220px
		height 100%
		background-color grey-card
		flex-flow column wrap
		justify-content flex-start
		align-items flex-start
		transition 500ms ease
		z-index 9999
	&::before
		+below(breakpoint-menu)
			content url('../images/menu.png')
			position absolute
			top 30px
			left -40px
			width 32px
			height 32px
			background-color white-volts
			border-radius 50% 50%
			cursor pointer
	+e(item)
		// display inline-block
		text-transform uppercase
		+below(breakpoint-menu)
			width 100%
			padding 20px
		&:hover
			+below(breakpoint-menu)
				background-color white-alpha
		&::before
			content ('|')
			color grey-complement
			font-size 14px
			padding 0 20px
			+below(breakpoint-menu)
				display none
		+m(first)
			+below(breakpoint-menu)
				padding-top 20px
			&::before
				content (' ')
		+m(last)
			&::after
				content ('→')
				padding 0 15px 0 0
		a
			text-decoration none
			color black-volts
			font-size 14px
			font-weight 600
			+below(breakpoint-menu)
				color white-volts
			&:hover
				color yellow-volts
.acitve
	+below(breakpoint-menu)
		transform translateX(0%)
.hidden
	+below(breakpoint-menu)
		transform translateX(100%)
