
<footer class="footer-content">
  <section class="volts-footer">
    <div class="volts-address"><img src=""/>
      <p>Rua Otto Benack, 300 - Sala 2 Bom Retiro - Joinville / SC</p>
    </div>
    <div class="volts-telephone"><img src=""/>
      <p>Entre em contato: <span>(47) 3043-4082</span></p>
    </div>
    <div class="volts-social">
      <p>Acompanhe-nos:</p>
      <ul>
        <li>facebook</li>
        <li>twitter</li>
        <li>linkedin</li>
        <li>google plus</li>
        <li>youtube</li>
      </ul>
    </div>
  </section>
  <section class="volts-devs">
    <p>Desenvolvido por</p><img src=""/>
  </section>
</footer>