/**
 *  Core Files
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.wrap-content,
.menu,
.header-content,
.about-us-content,
.about-us-details,
.open-jobs,
.list-jobs {
  width: 960px;
  margin: 0 auto;
}
@media only screen and (max-width: 960px) {
  .wrap-content,
  .menu,
  .header-content,
  .about-us-content,
  .about-us-details,
  .open-jobs,
  .list-jobs {
    width: 100%;
  }
}
/**
 * Components
 */
.btn {
  text-decoration: none;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  border: 0;
}
.btn-jobs {
  background-color: #fbc645;
  padding: 10px;
  color: #fff;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
}
.btn-jobs:hover {
  background-color: #262626;
}
.btn-thumb {
  background-color: #fbc645;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
  padding: 0;
  font-size: 30px;
  font-style: none;
  color: #fff;
  -webkit-border-radius: 50% 50%;
     -moz-border-radius: 50% 50%;
          border-radius: 50% 50%;
  border: 3px solid #fff;
}
.btn-thumb:hover {
  background-color: #262626;
}
.menu {
  position: relative;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
  padding: 0 10px;
}
@media only screen and (max-width: 960px) {
  .menu {
    width: 100%;
  }
}
.menu::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fbc645;
  -webkit-border-radius: 0 0 15px 15px;
     -moz-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
}
.menu-list {
  list-style: none;
  padding: 0;
}
.menu-list__item {
  display: inline-block;
  text-transform: uppercase;
}
.menu-list__item::before {
  content: '|';
  color: #d2d2d2;
  font-size: 14px;
  padding: 0 20px;
}
.menu-list__item--first::before {
  content: ' ';
}
.menu-list__item--last::after {
  content: '->';
  padding: 0 15px 0 0;
}
.menu-list__item a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.menu-list__item a:hover {
  color: #fbc645;
}
.top-header {
  position: relative;
  width: 100%;
  background-image: url("../images/background-top.jpg");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center;
  border-top: 5px solid #d2d2d2;
  border-bottom: 10px solid #000;
}
.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  flex-flox: ks-row nowrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
}
.header-content__image {
  width: 44.6875%;
}
.header-content__brand {
  width: 57.08333333333333%;
}
.about-us {
  width: 100%;
  background-color: #333;
}
.about-us-content {
  color: #fff;
}
.about-us-content__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  padding-top: 40px;
}
.about-us-content__text,
.open-jobs {
  text-align: center;
  font-size: 16px;
  color: #656565;
  padding-bottom: 60px;
}
.about-us-details {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -moz-box-align: stretch;
   -ms-flex-align: stretch;
       align-items: stretch;
}
.about-us-details::before {
  content: ' ';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #fff;
  -webkit-border-radius: 15px 15px 0 0;
     -moz-border-radius: 15px 15px 0 0;
          border-radius: 15px 15px 0 0;
}
.about-us-card {
  width: 29.166666666666668%;
  margin-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
}
.about-us-card--last {
  width: 81.25%;
  margin: 0 auto;
  padding-top: 20px;
}
.about-us-card__title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.about-us-card__text {
  color: #656565;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.about-us-card__brands {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 60px;
  border: 1px solid #d2d2d2;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}
.jobs {
  position: relative;
  width: 100%;
}
.wrap-open-jobs {
  width: 100%;
  background-color: #333;
  padding-top: 60px;
  border-top: 10px solid #000;
}
.open-jobs__title {
  width: 42.1875%;
  height: auto;
}
.open-jobs__text {
  color: #fff;
  margin-top: 30px;
}
.wrap-list-jobs {
  width: 100%;
  padding: 60px 0;
  background-color: #f2f2f2;
}
.jobs-details {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  -moz-box-align: start;
   -ms-flex-align: start;
       align-items: flex-start;
  margin-bottom: 30px;
}
.jobs-details-date {
  width: 117px;
  height: 117px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
  background-color: #fbc645;
  -webkit-border-radius: 50% 50%;
     -moz-border-radius: 50% 50%;
          border-radius: 50% 50%;
  border: 3px solid #fff;
}
.jobs-details-date__daymouth {
  font-size: 34px;
  font-weight: 700;
  color: #262626;
}
.jobs-details-date__year {
  font-size: 20px;
  color: #fff;
}
.jobs-details-card {
  position: relative;
  width: 82.29166666666666%;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  -moz-box-align: start;
   -ms-flex-align: start;
       align-items: flex-start;
  padding: 30px;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}
.jobs-details-card::after {
  right: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255,255,255,0);
  border-right-color: #fff;
  border-width: 15px;
  margin-top: -15px;
}
.jobs-details-card .details-card {
  width: 70.75949367088607%;
}
.jobs-details-card .details-card__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.jobs-details-card .details-card__job {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}
.jobs-details-card .details-card__description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}
.jobs-details-card .thumbnail-card {
  position: relative;
  width: 22.78481012658228%;
}
.jobs-details-card .thumbnail-card__thumb {
  width: 100%;
  height: auto;
}
.jobs-details-card .thumbnail-card__button {
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 44px;
  height: 44px;
}

/*# sourceMappingURL=styles.css.map */
