/**
 * Colors
 */

yellow-volts = #FBC645
grey-about = #333333
grey-complement = #D2D2D2
grey-card = #262626
grey-text = #656565
black-volts = #000000
white-volts = #FFFFFF
white-jobs = #F2F2F2

/**
 * Fonts
 */

 primary-font = "proxima-nova",sans-serif

/**
 * Widths
 */

wrap-container = 960px
breakpoint-menu = 818px
